.chartWithListWrapper {
    display: flex;
    gap: 50px;
    padding: 20px;
    .donChart {
        width: calc(100% / 2 - 20px);
    }
    .orderListWrapper {
        position: relative;
        &:before {
            height: calc(100% - 20%);
            width: 1px;
            background-color: var(--border-color-one);
            content: "";
            position: absolute;
            top: 10%;
        }
    }
}

