:root{
    --main-color-one: #6B5AF7;
    --pragraph-color: #475467;
    --pragraph-color-two: #67708B;
    --heading-color: #051441;
    --main-color-two: #66bb6a;
    --main-white-color: #f1f1f1;
    --white-color: #fff;
    --main-section-bg-color: rgb(240, 242, 245);
    --main-bg-color: #F4F7FE;
    --border-color-one: #E1E3E7;
    --heading-color-two: #67708B;
    --black-color: #333;
    /* font family variable */
    --main-font-family: 'Poppins', sans-serif;

    --translation-time: 400ms;
}
